body {

}

#welcome_text {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 36px;
  color: #9acd91
}

/* for the slower spin of cog, modification for font-awesome*/
.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}

